.login-header{
    margin: 80px 0px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.login-header__title{
    font-weight: 500;
    font-size: 25px;
    margin-bottom: 25px;
}

.login-header__text{
    width: 60%;
    opacity: 0.7;
}

.login{
    display: flex;
    flex-direction: column;
    margin: 0px 30px;
}


.login input{
    border: none;
    padding: 15px 0px;
    font-size: 18px;
    margin-bottom: 25px;
}

.login input:not([type="submit"]) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    transition: border-color 0.3s ease-in-out;
}


.login input:focus {
    border-color: var(--yellow);
}

.login input::placeholder {
    color: rgba(0, 0, 0, 0.4);
}
  

.login input[type="submit"] {
    background-color: var(--yellow);
    cursor: pointer;
    padding: 20px 0px;
    border-radius: 5px;
}

.login a {
    text-align: center;
    text-decoration: none;
    font-size: 13px;
}